# Global ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt
*.h5
*.rdb
*.db
*.log
*.sqlite3
*.zip
*.tar
*.tar.gz
*.egg-info/
*.coverage
*.cache/
*.test/
.DS_Store
.env
.envrc
.git
.vscode/
node_modules/
build/
dist/
public/
tests/
WindowsPowerShell/
huggingface/
frontend-vite/
docker-compose.yml

# Ignore all virtual environments (anywhere!)
venv/
venv*/
env/
env*/

# Ignore backend-local
backend/venv/
backend/venv310/
backend/Redis-x64-3.2.100/
backend/flask_session/
backend/migrations/
backend/dump.rdb
backend/*.log
backend/*.db
backend/*.pkl
backend/*.pt
backend/*.h5
backend/__pycache__/

# Ignore project root duplicates
Redis-x64-3.2.100/
flask_session/
migrations/
dump.rdb
