__pycache__
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.git
.gitignore
venv/
venv310/
huggingface/
__pycache__/
*.pyc
*.pkl
*.pt
*.h5
.git/
node_modules/
build/
dist/
env/
venv/
venv*/
node_modules/
.env
__pycache__/
*.pyc
*.pkl
*.pt
*.h5
huggingface/
backend/huge_folder_or_files_you_dont_need/
backend/venv
backend/venv310
venv
venv310




