Flask
Flask-Cors
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Migrate
Flask-Dance
Flask-Login
psycopg2-binary
celery
requests
redis
python-dotenv
gunicorn
transformers
torch
celery
redis
google-generativeai
Flask-Session
